$md-primary: (
  50 : #eff7ff,
  100 : #d8ebff,
  200 : #beddff,
  300 : #a4cfff,
  400 : #91c5ff,
  500 : #7dbbff,
  600 : #75b5ff,
  700 : #6aacff,
  800 : #60a4ff,
  900 : #4d96ff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #f3f8ff,
  A700 : #dae8ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-secondary: (
  50 : #e6ebef,
  100 : #c0ccd8,
  200 : #96aabe,
  300 : #6c88a3,
  400 : #4d6f90,
  500 : #2d557c,
  600 : #284e74,
  700 : #224469,
  800 : #1c3b5f,
  900 : #112a4c,
  A100 : #85b6ff,
  A200 : #5297ff,
  A400 : #1f78ff,
  A700 : #0669ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-variation: (
  50 : #fcfdff,
  100 : #f7fbff,
  200 : #f2f9ff,
  300 : #edf6ff,
  400 : #e9f4ff,
  500 : #e5f2ff,
  600 : #e2f0ff,
  700 : #deeeff,
  800 : #daecff,
  900 : #d3e8ff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

